asgiref
certifi
charset-normalizer
dj-database-url
Django
django-cors-headers
django-unfold
djangorestframework
djangorestframework_simplejwt
gunicorn
idna
intasend-python
packaging
pillow
psycopg2-binary
PyJWT
python-decoupl
python-dotenv
requests
resend
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
